@model IOC.SERVICE.Data.UserModel

@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserInfo</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Item View
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="tbl-UserInfo">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>CreatedDate</th>
                                <th>Role</th>
                             
                                <th>IsActive</th>
                               

                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
@section Scripts{
   
<script src="~/Scripts/Js/UserInfo.js"></script>
}